node_modules
old
test
.DS_Store
html/*
*.html
.ipynb_checkpoints
do_not_backup
__pycache__
*.pyc
._*
*.s-pickle.bag
*.s-pickle-gz.bag
*.ps
*.pnm
*.gz
*.h5
*.caffemodel
*.HEIC
*.old
catboost.mp4
large_dataset
